@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
$yalmir: rgba(165, 28, 49, 0.951);
$borcloy: rgba(95, 56, 105, 0.951);
$fenrir: rgba(106, 177, 206, 0.951);
$rutghar: rgba(44, 51, 118, 0.951);
$mercenario: rgba(80, 80, 80, 0.951);
$bordes: rgb(85, 82, 80);
$comun: rgb(109, 108, 109);
$borderara: rgb(5, 78, 147);
$rara: rgb(8, 111, 163);
$bordeepica: rgb(148, 36, 194);
$epica: rgb(169, 45, 213);
$bordelegendaria: rgb(189, 153, 36);
$legendaria: rgb(212, 175, 55);
$blasonvacio: rgba(255, 255, 255, 0.26);
$fuentedenombre : 'Peralta', cursive;
$colorpaletamaterial : #F50057;
$negrotransparente : rgba(0, 0, 0, 0.5) ;

textarea {
    overflow: hidden;
    resize: none !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.11);
    border: $colorpaletamaterial 1px solid;
}
textarea:focus{
    color: $colorpaletamaterial !important;
}
.contenedorprincipal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    form {
        display: flex;
        justify-content: space-evenly;
    }

    .descarga {
        width: 20%;
        align-self: center;
    }
}
.contenedor {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    .datos {
        flex-direction: column;
    }
    .columna{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    .textos {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        .toolbar{
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.11);
            border-right: $colorpaletamaterial 1px solid;
            border-top: $colorpaletamaterial 1px solid;
            border-left: $colorpaletamaterial 1px solid;
            border-bottom: transparent 1px solid;
            padding: 2px;
            border-radius: 5px 5px 0px 0px;
            button {
                background-color: transparent;
                border-color: $colorpaletamaterial;
                color:  white;
                border-radius: 5px;
                margin-left: 3px;
            }
            button:hover {
                background-color: transparent;
                border-color: white;
                color:  $colorpaletamaterial;
                margin-left: 2px;
                border-radius: 5px;
            }
        }
        .texto{
            height: 130px;
            border-right: $colorpaletamaterial 1px solid;
            border-bottom: $colorpaletamaterial 1px solid;
            border-left: $colorpaletamaterial 1px solid;
            border-top: transparent 1px solid;
            border-radius: 0px 0px 5px 5px;
        }
        .ambientacion{
            margin-top: 5px;
            border-radius: 5px;
            height: 30px;
            border: $colorpaletamaterial 1px solid;
        }
    }
    .carta {
        width: 63mm;
        height: 88mm;
        .base {
            background-repeat: no-repeat;
            background-size: 63mm 88mm !important;
            width: 63mm;
            height: 88mm;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.151);
            .letrararezatactica {
                position: relative;
                bottom: 49px;
                left: 20px;
                font-size: 10px;
                color:white;
                background-color: $negrotransparente;
                width: 25%;
                height: 12px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .letrararezacontendiente {
                position: relative;
                bottom: 71px;
                left: 20px;
                font-size: 10px;
                color:white;
                background-color: $negrotransparente;
                width: 25%;
                height: 12px;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nombre {
                position: relative;
                left: 43px;
                top: 11px;
                border: transparent 2px solid;
                border-radius: 0px 6px 6px 0px !important;
                width: 75%;
                height: 6%;
                border-radius: 2px;
                font-size: small;
                z-index: 0;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-left: 15px;
                    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
                    color: white !important;
                    font-family: $fuentedenombre;
                    overflow: hidden;
                    font-size: 9px;
                }
            }
            .tipocarta {
                display: flex;
                justify-content: space-between;
                margin-top: 173px;
                width: 83.5%;
                height: 5%;
                border-radius: 3px 3px 0px 0px;
                font-size: small;
                text-align: left;
                padding-left: 5px;
                position: relative;
                left: 19px;
                top: 7px;
                border-right: 2px black solid;
                border-left: 2px black solid;
                border-top: 2px black solid;
            }
            .borcloy {
                background-color: $borcloy;
                color: white;
            }
            .yalmir {
                background-color: $yalmir;
                color: white;
            }
            .fenrir {
                background-color: $fenrir;
                color: black;
            }
            .rutghar {
                background-color: $rutghar;
                color: white;
            }
            .mercenario {
                background-color: $mercenario;
                color: white;
            }
            .borcloyyalmir {
                background-image: linear-gradient(to right, $borcloy, $yalmir);
                color: white;
            }
            .borcloyfenrir {
                background-image: linear-gradient(to right, $borcloy, $fenrir);
                color: white;
            }
            .yalmirfenrir {
                background-image: linear-gradient(to right, $yalmir, $fenrir);
                color: white;
            }
            .fenrirrutghar {
                background-image: linear-gradient(to right, $fenrir, $rutghar);
                color: black;
            }
            .rutgharborcloy {
                background-image: linear-gradient(to right, $rutghar, $borcloy);
                color: white;
            }
            .rutgharyalmir {
                background-image: linear-gradient(to right, $rutghar, $yalmir);
                color: white;
            }
            .logo {
                height: 13px;
                width: 13px;
                margin-top: 1px;
                margin-right: 4px;
            }
        }
        .textocarta {
            background-color: rgba(255, 255, 255, 0.692);
            width: 85.6%;
            height: 96px;
            border-radius: 0px 0px 3px 3px;
            margin-top: -0.5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            left: 19px;
            top: 7px;
            z-index: 1;
            border-right: 2px black solid;
            border-left: 2px black solid;
            border-bottom: 2px black solid;

            #textoCarta {
                padding: 5px;
                height: 85% !important;
                color: black;
                word-wrap: break-Word !important;
                font-size: 9px;
                line-height: 11px;
                white-space: pre-wrap;
                display: inline-block;
                overflow: hidden;
            }
            #descripcionCarta {
                overflow: hidden;
                justify-self: flex-end;
                height: 18%;
                margin-left: 20px;
                margin-right: 20px;
                padding-bottom: 10px;
                font-size: 7px;
                line-height: 8px;
                color: black;
                font-style: italic;
                text-align: center;
                display: inline-block;
                white-space: pre-wrap;
                word-wrap: break-word !important;
            }
        }
        .cajaestadisticas {
            height: 18px;
            width: 45px;
            background-color: rgb(179, 179, 179);
            position: relative;
            left: 180px;
            bottom: 63px;
            border-radius: 10px;
            z-index: 2;
            border: $bordes 2px solid;
            justify-content: center;
            align-items: center;
            display: flex;
            .estadisticas {
                display: flex;
                height: 100%;
                width: 100%;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: 460;
            }
        }
        .costedecartabase {
            height: 50px;
            width: 50px;
            border: 3px solid;
            position: relative;
            border-radius: 50px;
            left: 10px;
            bottom: 309px;
            z-index: 6;
            .circulomana{
                position: relative;
                top: 6px;
                left: 5px;
                height: 40px;
                width:  40px;
                background-image: url(../assets/imagenes/circulo.jpg);
                background-repeat: no-repeat;
                background-size:43px 45px;
                background-position: center;
                border-radius: 50px;
                .blasoncoste1{
                    display: flex;
                    background-color: $blasonvacio;
                    height: 10px;
                    width: 10px;
                    border-radius: 50px;
                    position: relative;
                    left: 6px;
                    top: 5px;
                }
                .blasoncoste3 {
                    display: flex;
                    background-color: $blasonvacio;
                    height: 10px;
                    width: 10px;
                    border-radius: 50px;
                    position: relative;
                    left: 24.6px;
                    bottom: 4.9px;
                }
                .blasoncoste2{
                    display: flex;
                    background-color: $blasonvacio;
                    height: 10px;
                    width: 10px;
                    border-radius: 50px;
                    position: relative;
                    left: 6px;
                    top: 5px;
                }
                .blasoncoste4{
                    display: flex;
                    background-color: $blasonvacio;
                    height: 10px;
                    width: 10px;
                    border-radius: 50px;
                    position: relative;
                    left: 24.6px;
                    bottom: 4.6px;
                }
                .costegeneral{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $blasonvacio;
                    height: 13px;
                    width: 13px;
                    border-radius: 50px;
                    position: relative;
                    left: 13.4px;
                    bottom: 26.7px;
                    .costeneutro{
                        color:white;
                        font-size: 10px;
                    }
                }
                
            }
        }
        .legendariafondo {
            background-color: $legendaria !important;
        }
        .rarafondo {
            background-color: $rara !important;
        }
        .comunfondo {
            background-color: $comun !important;
        }
        .epicafondo {
            background-color: $epica !important;
        }
        .legendaria {
            border-color: $bordelegendaria !important;
        }
        .rara {
            border-color: $borderara !important;
        }
        .epica {
            border-color: $bordeepica !important;
        }
        .comun {
            border-color: $bordes !important;
        }
        .blason {
            height: 10px;
            width: 10px;
        }
    }
}
