$yalmir:rgb(165, 28, 48);
$borcloy:rgb(95, 56, 105);
$fenrir:rgb(128, 214, 248);
$rutghar:rgb(44, 52, 118);
$mercenario: rgb(80, 80, 80);
textarea {
    overflow: scroll;
    resize: none !important;
    color:white;
}
vel {
    background-image: url(../assets/imagenes/sneaker-305322_1280.png);
    background-size: 20px;
    padding: 2px 10px;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.fly {
    color:red;
}
.contenedor {
    display: flex;
    .datos {
        width: 50%;
        
    }
    .carta {
        width:63mm;
        height: 88mm;
        .base {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-repeat: no-repeat;
            background-size: 63mm 88mm !important;
            width: 63mm;
            height: 88mm;
            border-radius: 10px;

            .nombre {
                margin-top: 15px;
                margin-left: 34px;
                width: 73%;
                height: 5%;
                border-radius: 2px;
                font-size: small;
                text-align: center;
                padding-left: 5px;
                
            }
            .tipocarta {
                display: flex;
                justify-content: space-between;
                margin-top:173px;
                width: 83.5%;
                height: 5%;
                border-radius: 2px;
                font-size: small;
                text-align: left;
                padding-left: 5px;
                

                
            }
            .borcloy {
                background-color: $borcloy;
                color: black;
            }
            .yalmir {
                background-color: $yalmir;
                color: white;
            }
            .fenrir {
                background-color: $fenrir;
                color: black;
            }
            .rutghar {
                background-color: $rutghar;
                color: white;
            }
            .mercenario {
                background-color: $mercenario;
                color: black;
            }
            .borcloyyalmir {
                background-image: linear-gradient(to right, $borcloy , $yalmir);
                color: white;
            }
            .borcloyfenrir{
                background-image: linear-gradient(to right, $borcloy , $fenrir);
                color: black;
            }
            .yalmirfenrir{
                background-image: linear-gradient(to right, $yalmir , $fenrir);
                color: black
            }
            .fenrirrutghar{
                background-image: linear-gradient(to right, $fenrir , $rutghar);
                color: black
            }
            .rutgharborcloy{
                background-image: linear-gradient(to right, $rutghar , $borcloy);
                color: white
            }
            .rutgharyalmir{
                background-image: linear-gradient(to right, $rutghar , $yalmir);
                color: white
            }
            .logo{
                height: 13px;
                width: 13px;
                margin-top: 1px;
                margin-right: 4px;
            }
               
        }
        .textocarta{
                position: absolute;
                background-color: white;
                left: 785px;
                top: 220.5px;
                width: 204px;
                height: 96px;
                border-radius: 2px;
                opacity: 80%;
                Word-wrap: break-Word;
                font-size: 9px;
                line-height: 11px;
        }
        #textoCarta {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 35px;
        }
    }
}
