<div class="contenedorprincipal">
<div class="contenedor">
<div class="datos">


<div style="color: rgb(247, 244, 240); margin-left: 30px;">Nombre de la carta</div>
<mat-form-field appearance="fill">
  <mat-label>Nombre</mat-label>
<input matInput type="text" maxlength="24" [ngModel]="nombrecarta" (ngModelChange)="nombrecarta = $event" style="color:white">
</mat-form-field>
<div style="color: rgb(247, 244, 240); margin-left: 30px;">Casa de la carta</div>
<mat-form-field appearance="fill">
  <mat-label>Casa principal</mat-label>
<mat-select type="text" [ngModel]="casa" (ngModelChange)="comprobarCasa($event)">
  <mat-option *ngFor="let casa of casas" [value]="casa">{{casa}}</mat-option>
  <mat-option [value]="mercenario">{{mercenario}}</mat-option>
</mat-select>
</mat-form-field>
<mat-form-field *ngIf="casa !=mercenario" appearance="fill">
  <mat-label>Casa secundaria</mat-label>
<mat-select type="text"  [(ngModel)]="casa2" [disabled]="casa === '' || casa === 'Mercenario' ">
  <mat-option [value]="ninguna" selected>{{ninguna}}</mat-option>
  <mat-option *ngFor="let casa2 of casas" [value]="casa2" [disabled]="casa === casa2 ">{{casa2}}</mat-option>
</mat-select>
</mat-form-field>
<div style="color: rgb(247, 244, 240); margin-left: 30px;">Tipo de carta</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
<mat-select type="text"  [(ngModel)]="tipodecarta">
  <mat-option *ngFor="let tipo of tiposdecarta" [value]="tipo">{{tipo}}</mat-option>
</mat-select></mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Subtipo</mat-label>
<mat-select type="text"  [(ngModel)]="subtipodecarta" [disabled]="tipodecarta === '' || tipodecarta === tiposdecarta[1]"
[hidden]="tipodecarta === '' || tipodecarta === tiposdecarta[1]">
  <mat-option *ngFor="let subtipo of subtiposdecarta" [value]="subtipo">{{subtipo}}</mat-option>
</mat-select></mat-form-field>
</div>


</div>
<div class="textos">
<div>
<mat-form-field appearance="fill">
  <mat-label>Texto de la carta</mat-label>
  <textarea [ngModel]="textodeCarta" (ngModelChange)="textoCarta($event)" maxlength="300" rows="7" matInput></textarea>
</mat-form-field>
</div>

</div>

<div class="carta" id="carta">
  <div class="base" style="background-image: url({{fondoimagen}})">
    <div [ngClass]="{
      'borcloy': casa === 'Borcloy' && casa2 === 'Ninguna', 
      'yalmir' : casa === 'Yalmir' && casa2 === 'Ninguna', 
      'fenrir' : casa === 'Fenrir' && casa2 === 'Ninguna', 
      'rutghar' : casa === 'Rutghar' && casa2 === 'Ninguna',
      'mercenario' : casa === 'Mercenario',
      'borcloyyalmir': casa === 'Borcloy' && casa2 === 'Yalmir' || casa ==='Yalmir' && casa2 === 'Borcloy',
      'borcloyfenrir': casa === 'Borcloy' && casa2 === 'Fenrir' || casa ==='Fenrir' && casa2 === 'Borcloy',
      'yalmirfenrir' : casa === 'Yalmir' && casa2 === 'Fenrir' || casa === 'Fenrir' && casa2 === 'Yalmir',
      'fenrirrutghar' : casa === 'Fenrir' && casa2 === 'Rutghar' || casa === 'Rutghar' && casa2 === 'Fenrir',
      'rutgharborcloy' : casa === 'Rutghar'&& casa2 === 'Borcloy' || casa === 'Borcloy' && casa2 === 'Rutghar', 
      'rutgharyalmir' : casa === 'Rutghar'&& casa2 === 'Yalmir' || casa === 'Yalmir' && casa2 === 'Rutghar'
    }" class="nombre">{{nombrecarta}}</div> 
    <div [ngClass]="{
      'borcloy': casa === 'Borcloy' && casa2 === 'Ninguna', 
      'yalmir' : casa === 'Yalmir' && casa2 === 'Ninguna', 
      'fenrir' : casa === 'Fenrir' && casa2 === 'Ninguna', 
      'rutghar' : casa === 'Rutghar' && casa2 === 'Ninguna',
      'mercenario' : casa === 'Mercenario',
      'borcloyyalmir': casa === 'Borcloy' && casa2 === 'Yalmir' || casa ==='Yalmir' && casa2 === 'Borcloy',
      'borcloyfenrir': casa === 'Borcloy' && casa2 === 'Fenrir' || casa ==='Fenrir' && casa2 === 'Borcloy',
      'yalmirfenrir' : casa === 'Yalmir' && casa2 === 'Fenrir' || casa === 'Fenrir' && casa2 === 'Yalmir',
      'fenrirrutghar' : casa === 'Fenrir' && casa2 === 'Rutghar' || casa === 'Rutghar' && casa2 === 'Fenrir',
      'rutgharborcloy' : casa === 'Rutghar'&& casa2 === 'Borcloy' || casa === 'Borcloy' && casa2 === 'Rutghar', 
      'rutgharyalmir' : casa === 'Rutghar'&& casa2 === 'Yalmir' || casa === 'Yalmir' && casa2 === 'Rutghar'
    }" class="tipocarta">
    <h5>{{tipodecarta}} <span *ngIf="tipodecarta === tiposdecarta[0]">: {{subtipodecarta}} </span></h5>
    <div class="logos">
      <div *ngIf="casa2 === 'Ninguna'" class="casaprincipal">
      <img *ngIf="casa === 'Borcloy'" class="logo" src="../assets/imagenes/borcloy.png">
      <img *ngIf="casa === 'Fenrir'" class="logo" src="../assets/imagenes/fenrir.png">
      <img *ngIf="casa === 'Rutghar'" class="logo" src="../assets/imagenes/rutghar.png">
      <img *ngIf="casa === 'Yalmir'" class="logo" src="../assets/imagenes/yalmir.png">
      </div>
      <div *ngIf="casa2 !='Ninguna'"class="casasecundaria">
        <div *ngIf="casa === 'Borcloy' && casa2 === 'Yalmir' || casa ==='Yalmir' && casa2 === 'Borcloy'"class="logoborcloyyalmir">
          <img  class="logo" src="../assets/imagenes/borcloy.png">
          <img  class="logo" src="../assets/imagenes/yalmir.png">
        </div>
        <div *ngIf="casa === 'Borcloy' && casa2 === 'Fenrir' || casa ==='Fenrir' && casa2 === 'Borcloy'"class="logoborcloyfenrir">
          <img  class="logo" src="../assets/imagenes/borcloy.png">
          <img  class="logo" src="../assets/imagenes/fenrir.png">
        </div>
        <div *ngIf="casa === 'Yalmir' && casa2 === 'Fenrir' || casa === 'Fenrir' && casa2 === 'Yalmir'"class="logoyalmirfenrir">
          <img  class="logo" src="../assets/imagenes/yalmir.png">
          <img  class="logo" src="../assets/imagenes/fenrir.png">
        </div>
        <div *ngIf="casa === 'Fenrir' && casa2 === 'Rutghar' || casa === 'Rutghar' && casa2 === 'Fenrir'"class="logofenrirrutghar">
          <img  class="logo" src="../assets/imagenes/fenrir.png">
          <img  class="logo" src="../assets/imagenes/rutghar.png">
        </div>
        <div *ngIf="casa === 'Rutghar'&& casa2 === 'Borcloy' || casa === 'Borcloy' && casa2 === 'Rutghar'"class="logorutgharborcloy">
          <img  class="logo" src="../assets/imagenes/rutghar.png">
          <img  class="logo" src="../assets/imagenes/borcloy.png">
        </div>
        <div *ngIf="casa === 'Rutghar'&& casa2 === 'Yalmir' || casa === 'Yalmir' && casa2 === 'Rutghar'"class="logorutgharyalmir">
          <img  class="logo" src="../assets/imagenes/rutghar.png">
          <img  class="logo" src="../assets/imagenes/yalmir.png">
        </div>
      </div> 
      
    </div>
  </div> 
<div class="textocarta">
          <div id="textoCarta"> </div>
        </div>
    </div>
</div>

</div>
<form [formGroup]="myForm" >
 
  <input hidden #file type="file" accept="image/*" (change)="imagePreview($event)" />
 <button class="descarga" (click)="file.click()" mat-raised-button color="primary">Cargar imagen de fondo</button>

<button class="descarga" mat-raised-button color="primary" (click)="generarIMG()">Descargar Carta</button>
  </form>

</div>